#showcase {
	height: 100vh;
	background: $pink-primary;
	background: linear-gradient(9deg, $pink-primary -10%, #411b5d 45%);
	color: #fff;
	position: relative;
	
	.showcase-container {
		width: 100%;
		height: 100%;
		@include flex(row, space-between, center);
		position: relative;

		.showcase-content {
			width: 38%;
			position: absolute;
			left: 150px;
			z-index: 1;

			h1 {
				@include font(4rem, inherit, 400);
				line-height: 80px;
			}
		}
	}
}

/** Animation Boxes (Moving on cursor move) **/
.showcase-animation-container {
	position: absolute;
	right: 50px;
	width: 1200px;
	height: 728px;
}

/*** Page load animation ***/
/* Left shape */
.left-intro {
	animation: left-triangle 1s ease-in-out 800ms forwards;
	transform-origin: center center;
}

/* Mid shape */
.mid-intro {
	animation: mid-triangle 1s ease-in-out 800ms forwards;
	transform-origin: 68% 62%;
}

/* Right shape */
.right-intro {
	animation: right-triangle 1s ease-in-out 800ms forwards;
	transform-origin: 75% 45%
}

@keyframes left-triangle {
	from { transform: translate(0,0) rotate(0) }

	to { transform: translate(-270px, 60px) rotate(-70deg) }
}

@keyframes mid-triangle {
	from { transform: translate(0,0) rotate(0) }

	to { transform: translate(-150px, 160px) rotate(10deg) }
}

@keyframes right-triangle {
	from { transform: translate(0,0) rotate(0) }

	to { transform: translate(140px, -120px) rotate(25deg) }
}