header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	#desktop-header {
		@include flex(row, space-between, center);
		padding: 2rem;
		color: $white;
	}

	.modal-menu-icon {
		position: relative;
		background: rgba(0, 0, 0, .7);
		width: 60px;
		height: 60px;
		border-radius: 50%;
		@include flex(row, center, center);
		cursor: pointer;
		transition: all 500ms ease-in-out;

		.modal-bar {
			background: $white;
			width: 17px;
			height: 2px;
			transform: rotate(45deg) translate(-7.5px, -8.5px);
			position: relative;
			transition: all 500ms ease-in-out;

			&::before {
				content: '';
				position: absolute;
				transform: rotate(90deg) translate(7.5px, -7.5px);
				width: inherit;
				height: inherit;
				background: inherit;
				transition: inherit;
			}

			&::after {
				content: '';
				position: absolute;
				transform: rotate(0) translate(14.5px, 15px);
				width: inherit;
				height: inherit;
				background: inherit;
				transition: inherit;
			}
		}

		/** Animation for icon **/
		&:hover {
			transform: rotate(360deg);
			box-shadow: 0 0 30px 5px $green-primary;
		}
	}

	.logo {
		@include font(2rem, inherit, 400);
		font-family: 'Mansalva', cursive;
		letter-spacing: .55rem;
	}

	&:hover .left-triangle, .right-triangle, .mid-triangle {
		transform: 0;
	}
}

/** Closing icon **/
.close-test {
	transform: rotate(45deg) translate(0, 0) !important;

	&::before { transform: rotate(0) translate(0, 0) !important }

	&::after { transform: rotate(90deg) translate(0, 0) !important }
}


