#portfolio-showcase {
	background: url('../imgs/portfolio-showcase.jpg') no-repeat center/cover;
	height: 50vh;
	color: $white;
	
	.container { @include flex(column, center, center) }

	.section-header &::after { background: linear-gradient(to left, lighten($purple-primary, 40%), $pink-primary) }
}