#showcase {
	width: 100vw;
	height: 100vh;
	background: #00e06d;
	background: linear-gradient(9deg, #00e06d -10%, #411b5d 45%);
	color: #fff;
	
	.showcase-container {
		width: 100%;
		height: 100%;
		@include flex(row, space-between, center);
		position: relative;

		.showcase-content {
			width: 38%;
			position: absolute;
			left: 150px;
			z-index: 1;

			h1 {
				@include font(4rem, inherit, 400);
				line-height: 80px;
			}
		}
	}
}

/** Animation Boxes (Moving on cursor move) **/
.showcase-animation-container {
	position: absolute;
	right: 50px;
	width: 1200px;
	height: 728px;

	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/*** Page load animation ***/
.left-triangle-static {
	transform: translate(-270px, 60px) rotate(-70deg);
	transform-origin: center center;
}

.mid-triangle-static {
	transform: translate(-150px, 160px) rotate(10deg);
	transform-origin: 68% 62%;
}

.right-triangle-static {
	transform: translate(140px, -120px) rotate(25deg);
	transform-origin: 75% 45%;
}

/** Intro transition speed **/
.intro-transition { transition: transform 1s ease-in-out 800ms }

/* Moving transition speed so it won't instant move */
.moving-animation { transition: transform 70ms ease-in-out }