#contact-showcase {
	background: url('../imgs/contact-showcase.jpg') no-repeat center/cover;
	color: $white;
	padding: 2rem 1rem;
	width: 100%;

	.section-header::after { background: linear-gradient(to left, lighten($purple-primary, 30%), $pink-primary, $pink-primary) }

	.contact-container {
		position: relative;
		z-index: 1;
		@include flex(row, space-between, flex-start);
		margin-top: 4rem;

		.contact-box:first-child {
			width: 45%;
			height: 420px;
			position: relative;
		}

		.contact-box { margin: 0 1rem }
	}

	.contact-box:nth-child(2) {
		width: 50%;

		form {
			@include grid(repeat(2, 1fr), 0);
			align-items: flex-start;

			.form-box {
				position: relative;
				margin: .7rem .5rem;
			}

			label {
				position: absolute;
				left: 0;
				top: 0;
			}
	
			input, textarea {
				@include font(.9rem, inherit, 300);
				position: relative;
				background: none;
				outline: none;
				border: 2px solid $pink-primary;
				border-radius: 3px;
				width: 100%;
				color: $white;
				padding: .5rem;
				
				transition: transform 300ms ease-in-out, border-color 200ms ease-in-out;

				&:focus { border: 2px solid lighten($pink-primary, 15%) }
			}

			label {
				transform: translate(10.6px, 6px);
				transition: transform 300ms ease-in-out;
				background: transparent;
				z-index: 50;
				cursor: auto;

				/** Animation for focusing the inputs **/
				&.label-focus { transform: translate(0px, -27px) }
			}

			.form-box:nth-child(5) {
				height: 130px;
				grid-column: 1 / -1;
				margin: 1.5rem .5rem 1rem;

				textarea {
					font-weight: inherit;
					font-family: inherit;
					padding: .5rem;
					height: 100%;
				}
			}

			button {
				grid-column: 1 / -1;
				grid-row: 4;
				padding: 1rem;
				width: 98%;
				margin: 0 auto;
			}

			> .regex-alert {
				width: 98%;
				grid-column: 1 / -1;
				margin: 1rem auto 0;
			}
		}
	}
}

/** Contact page animation **/
.envelope-animation {
	animation: envelope-animation 1.2s ease-in-out forwards 250ms;
	opacity: 0;
	transform: translate(-110px, 60px);
}

@keyframes envelope-animation {
	from {
		opacity: 0;
		transform: translate(-110px, 60px);
	}

	to {
		opacity: 1;
		transform: translate(0);
	}
}

.form-intro {
	animation: form-animation 1.2s ease-in-out forwards 1s;
	opacity: 0;
	transform: translateX(350px);
}

@keyframes form-animation {
	from {
		opacity: 0;
		transform: translateX(350px);
	}

	to {
		opacity: 1;
		transform: translate(0);
	}
}