// Colors
$white: #fff;
$green-primary: #00e06d;
$purple-primary: #411b5d;
$gray-primary: #DFDFDF;
$pink-primary: #cc6666;

// Borde radius
$border-radius-primary: 5px;

// Elements spacing
$footer-height-desktop: 19.4rem;
$footer-height-desktop-xs: 10rem;
$header-height-desktop: 3.5rem;