// Colors
$white: #fff;
$green-primary: #01ad54;
$red-primary: rgb(219, 40, 40);
$purple-primary: #411b5d;
$gray-primary: #DFDFDF;
$pink-primary: #cc6666;

// Border radiuss
$border-radius-primary: 5px;